{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}

        <section class="about-section text-left" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Seccion - Alumnos</h2>
                        <p class="text-white-50">
                            <br><br><br>
                            En ésta seccion usted podrá: <br><br><br> 1) Buscar los alumnos que forman parte del club <br><br><br> 2) Agregar alumnos al club <br><br><br> 3) Ver tabla de los alumnos actuales
                            
                            <br><br><br>
                            <a class="btn btn-primary" href="{% url 'AlumnosFormulario' %}">Agregar alumnos</a>
                            <a class="btn btn-primary" href="{% url 'BusquedaAlumnos' %}">Buscar alumnos</a>
                            <a class="btn btn-primary" href="{% url 'TablaAlumnos' %}">Ver todos los alumnos</a> </p><br><br>
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/montaña1.png' %}" alt="..." />
            </div>
        </section>

{% endblock bloqueQueCambia %}


