{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white mb-4">Seccion - Agregar Curso</h1>
                        
                        <form class="text-white mb-4" action="{% url 'CursoFormulario' %}" method = "POST"> {% csrf_token %}

                            <h2 class="text-white mb-4" >Ingrese los datos del curso que serán guardados en la base de datos:</h2><br><br>
                            <p>* NIVELES : Basico - Intermedio - Avanzado <br><br> * HORARIOS : 9 - 11 - 15 - 17 - 19 <br><br> * PROFESORES: Nombre y apellido del profesor</p>
                            <br><br><br><br>

                            {{cursoformulario.as_p}}

                            <input class="btn btn-primary" type="submit" value="Guardar">

                        </form>
                        
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/montaña1.png' %}" alt="..." />
            </div>
        </section>
        
{% endblock bloqueQueCambia %}