{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}
        
        <section class="about-section text-left" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">

                           <h2 style="color: rgb(156, 14, 14)"> ADVERTENCIA </h2><br>
                           <h3 class="text-white-50">¡Ud está por realizar cambios en el profesor seleccionado!</h3>
                       
                        <p class="text-white-50">
                          
                            <form class="text-white mb-4" action="{% url 'EditaProfesores' id %}" method = "POST"> {% csrf_token %}

    
                                {{profesorformulario.as_p}}
    
                                <input class="btn btn-primary" type="submit" value="Guardar cambios">
    
                            </form>
                            <p><a class="btn btn-primary" href="{% url 'TablaProfesores' %}">Volver</a></p>
                           
                        </p>
                      
                    </div>
                </div>
                <br>
                <img class="img-fluid" src="{% static 'assets/img/montaña1.png' %}" alt="..." />
            </div>
</section>
{% endblock bloqueQueCambia %}
