{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white mb-4">Seccion - Agregar Profesores</h1>
                        
                        <form class="text-white mb-4" action="{% url 'ProfesoresFormulario' %}" method = "POST"> {% csrf_token %}

                            <h2 class="text-white mb-4" >Ingrese los datos del profesor que serán guardados en la base de datos:</h2><br><br>
                            <p>* NOMBRE : Nombre del profesor <br><br> * APELLIDO : Apellido del profesor <br><br> * NIVEL: Basico - Intermedio - Avanzado <br><br> * EMAIL: Email del profesor</p>
                            <br><br>

                            {{profesoresformulario.as_p}}

                            <input class="btn btn-primary" type="submit" value="Guardar">

                        </form>
                        
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/montaña1.png' %}" alt="..." />
            </div>
        </section>
{% endblock bloqueQueCambia %}