{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}
        <section class="about-section text" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content">
                    <div class="col-lg-8">
                      <div>
                        <p> <h3 class="text-white mb-4">Por favor, complete los campos para registrarse </h3><br><br><br>
                        
                           
                           <form class="text-white mb-4" action="{% url 'Registro' %}" method = "POST"> {% csrf_token %}

                              {{formRegister.as_p}}

                              <input class="btn btn-primary" type="submit" value="Registrar">

                           </form>
                       

                        </p>
                     </div>
                        
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/montaña1.png' %}" alt="..." />
            </div>
        </section>

{% endblock bloqueQueCambia %}